.filter__bar{
    padding: 5px 0;
}
.search__bar{
    background: #F0F8F8;
    padding: 12px 20px;
}
/* Filer vehicle color start */
.vehicle__colors{
    gap:12px;
    grid-template-columns: repeat(auto-fit,minmax(80px,1fr));
}
.vehicle__Button{
    width:80px;
    height:80px;
    border:1px solid #dadada;
}
/* Filer vehicle color end */

/* Price show start */
.price__show{
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-gap: 15px;
}